<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Submited Info:</h1>
	<h2>Name: <%= data.namee %></h2>
	<h2>Location: <%= data.loc %></h2>
	<h2>Language: <%= data.language %></h2>
	<h2>Comment: <%= data.comment %></h2>
	<a href="/">Go back</a>
</body>
</html>