<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<form action="/quotes" method="post">
		<label>Your name:</label>
		<input type="text" name="name">
		<label>Your Quote</label>
		<input type="textarea" name="quote">
		<button type="submit">Add My Quotes!</button>
	</form>
	<a href="/quotes">Skip to quotes!</a>
</body>
</html>